@{
    Layout = "_Layout1";
}
<div>
@{
    MvcMovie.Class.TMDBMovie movie = (MvcMovie.Class.TMDBMovie)ViewData["movie"];
}
 
<h1>@movie.MovieTitle</h1>
<p>电影得分：@movie.MovieVoteAverage</p>
<p>电影投票总数：@movie.MovieVoteCount</p>
<p>电影票房（美元）：@movie.MoviePopularity</p>
<p>电影Overview：@movie.MovieOverview</p>
<p>电影风格：
@foreach (TMDbLib.Objects.General.Genre item in movie.MovieGenres)
{
    <span>@item.Name</span>
}
</p>
</div>