@model MvcMovie.Models.UserInfo
@{
    Layout = "_Layout1";
}
<div class="main-info">
    <div class="user-background">
        <div class="user">
            <div class="user-image">
                <a href=""></a>
            </div>
        </div>
        <div class="username">
            <h1>（用户名）</h1>
        </div>
        <div>

            @* 点击关注，执行关注功能的函数，把“关注”改成“已关注” *@
            <a class="attention" asp-controller="Attention" asp-action="AttentionClick" asp-route-otherid="" onclick="showTable()">
                <h3 id="aaa">@ViewData["attention"]</h3>
            </a>

        </div>
    </div>
    <div class="user-info">
        <div class="info-area">
            <p class="number">
                <img src="~/css/phone.jpg"> 联系方式:
            </p>
            <p class="number">
                <img src="~/css/email.jpg"> 邮箱：@Html.DisplayFor(model => model.Email)
            </p>
            <p class="info">个人简介</p>
        </div>
    </div>
    <div class="sign-area1">
   
        <div class="sign-area">
            <p class="sign">这里放个性签名展示</p>
            <p class="info1">个性签名</p>
        </div>
        <div class="sign-area2">
            <div class="a"><p>个性标签</p></div>
                <div class="line"></div> 
            <div class="labels">
                <ul class="label-bar">
                    <li class="label-item1">爱情</li>
                    <li class="label-item2">悬疑</li>
                    <li class="label-item3">恐怖</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="movie">
        <div class="movie-nav">
            <ul class="movie-nav-list">
                <li class="current">
                    <a>喜爱</a>
                </li>
                <li >
                    <a>想看</a>
                </li>
                <li>
                    <a>关注</a>
                </li>
            </ul>
            <!-- <ul class="movie-nav-list">
                <li class="current">
                    <p>喜爱</p>
                </li>
                <li >
                    <p>想看</p>
                </li>
                <li>
                    <p>关注</p>
                </li>
            </ul> -->
        </div>
        @* 根据用户收藏的电影的数量展示 *@
        <div class="movie-item" style="display: block">
            <div class="movie-display">
                <div class="item">
                    <a href="">
                        <img src="https://image.tmdb.org/t/p/w220_and_h330_face/neMZH82Stu91d3iqvLdNQfqPPyl.jpg" width="161" height="244" class="movie-image">   
                    </a>
                    <a href="">
                    <h2 class="movie-name">迷失之城</h2>
                    </a>
                    <p class="release-time">2022-03-30</p>
                </div>
                <div class="item">
                    <a href="">
                        <img src="https://image.tmdb.org/t/p/w220_and_h330_face/neMZH82Stu91d3iqvLdNQfqPPyl.jpg" width="161" height="244" class="movie-image">   
                    </a>
                    <a href="">
                    <h2 class="movie-name">迷失之城</h2>
                    </a>
                    <p class="release-time">2022-03-30</p>
                </div>
                <div class="item">
                    <a href="">
                        <img src="https://image.tmdb.org/t/p/w220_and_h330_face/neMZH82Stu91d3iqvLdNQfqPPyl.jpg" width="161" height="244" class="movie-image">   
                    </a>
                    <a href="">
                    <h2 class="movie-name">迷失之城</h2>
                    </a>
                    <p class="release-time">2022-03-30</p>
                </div>
                <div class="item">
                    <a href="">
                        <img src="https://image.tmdb.org/t/p/w220_and_h330_face/neMZH82Stu91d3iqvLdNQfqPPyl.jpg" width="161" height="244" class="movie-image">   
                    </a>
                    <a href="">
                    <h2 class="movie-name">迷失之城</h2>
                    </a>
                    <p class="release-time">2022-03-30</p>
                </div>
                <div class="item">
                    <a href="">
                        <img src="https://image.tmdb.org/t/p/w220_and_h330_face/neMZH82Stu91d3iqvLdNQfqPPyl.jpg" width="161" height="244" class="movie-image">   
                    </a>
                    <a href="">
                    <h2 class="movie-name">迷失之城</h2>
                    </a>
                    <p class="release-time">2022-03-30</p>
                </div>
                <div class="item">
                    <a href="">
                        <img src="https://image.tmdb.org/t/p/w220_and_h330_face/neMZH82Stu91d3iqvLdNQfqPPyl.jpg" width="161" height="244" class="movie-image">   
                    </a>
                    <a href="">
                    <h2 class="movie-name">迷失之城</h2>
                    </a>
                    <p class="release-time">2022-03-30</p>
                </div>
                <div class="item">
                    <a href="">
                        <img src="https://image.tmdb.org/t/p/w220_and_h330_face/neMZH82Stu91d3iqvLdNQfqPPyl.jpg" width="161" height="244" class="movie-image">   
                    </a>
                    <a href="">
                    <h2 class="movie-name">迷失之城</h2>
                    </a>
                    <p class="release-time">2022-03-30</p>
                </div>
                <div class="item">
                    <a href="">
                        <img src="https://image.tmdb.org/t/p/w220_and_h330_face/neMZH82Stu91d3iqvLdNQfqPPyl.jpg" width="161" height="244" class="movie-image">   
                    </a>
                    <a href="">
                    <h2 class="movie-name">迷失之城</h2>
                    </a>
                    <p class="release-time">2022-03-30</p>
                </div>
            </div>
        </div>
        <div class="movie-item">
            <div class="movie-display">
                <div class="item">
                    <a href="">
                        <img src="https://image.tmdb.org/t/p/w220_and_h330_face/neMZH82Stu91d3iqvLdNQfqPPyl.jpg" width="161" height="244" class="movie-image">   
                    </a>
                    <a href="">
                    <h2 class="movie-name">迷失之城</h2>
                    </a>
                    <p class="release-time">2022-03-30</p>
                </div>
                <div class="item">
                    <a href="">
                        <img src="https://image.tmdb.org/t/p/w220_and_h330_face/neMZH82Stu91d3iqvLdNQfqPPyl.jpg" width="161" height="244" class="movie-image">   
                    </a>
                    <a href="">
                    <h2 class="movie-name">迷失之城</h2>
                    </a>
                    <p class="release-time">2022-03-30</p>
                </div>
                <div class="item">
                    <a href="">
                        <img src="https://image.tmdb.org/t/p/w220_and_h330_face/neMZH82Stu91d3iqvLdNQfqPPyl.jpg" width="161" height="244" class="movie-image">   
                    </a>
                    <a href="">
                    <h2 class="movie-name">迷失之城</h2>
                    </a>
                    <p class="release-time">2022-03-30</p>
                </div>
                <div class="item">
                    <a href="">
                        <img src="https://image.tmdb.org/t/p/w220_and_h330_face/neMZH82Stu91d3iqvLdNQfqPPyl.jpg" width="161" height="244" class="movie-image">   
                    </a>
                    <a href="">
                    <h2 class="movie-name">迷失之城</h2>
                    </a>
                    <p class="release-time">2022-03-30</p>
                </div>
                <div class="item">
                    <a href="">
                        <img src="https://image.tmdb.org/t/p/w220_and_h330_face/neMZH82Stu91d3iqvLdNQfqPPyl.jpg" width="161" height="244" class="movie-image">   
                    </a>
                    <a href="">
                    <h2 class="movie-name">迷失之城</h2>
                    </a>
                    <p class="release-time">2022-03-30</p>
                </div>
                <div class="item">
                    <a href="">
                        <img src="https://image.tmdb.org/t/p/w220_and_h330_face/neMZH82Stu91d3iqvLdNQfqPPyl.jpg" width="161" height="244" class="movie-image">   
                    </a>
                    <a href="">
                    <h2 class="movie-name">迷失之城</h2>
                    </a>
                    <p class="release-time">2022-03-30</p>
                </div>
                <div class="item">
                    <a href="">
                        <img src="https://image.tmdb.org/t/p/w220_and_h330_face/neMZH82Stu91d3iqvLdNQfqPPyl.jpg" width="161" height="244" class="movie-image">   
                    </a>
                    <a href="">
                    <h2 class="movie-name">迷失之城</h2>
                    </a>
                    <p class="release-time">2022-03-30</p>
                </div>
                <div class="item">
                    <a href="">
                        <img src="https://image.tmdb.org/t/p/w220_and_h330_face/neMZH82Stu91d3iqvLdNQfqPPyl.jpg" width="161" height="244" class="movie-image">   
                    </a>
                    <a href="">
                    <h2 class="movie-name">迷失之城</h2>
                    </a>
                    <p class="release-time">2022-03-30</p>
                </div>
            </div>         

        </div>
        <div class="movie-item">
            <div class="movie-display">
                <div class="item1">
                    <a href="">
                        <img src="~/css/4.png" width="150" height="150" class="user-image1">   
                    </a>
                    <div class="name0">
                    <h2 class="name1">用户名</h2>
                    </div>
                </div>
                <div class="item1">
                    <a href="">
                        <img src="~/css/4.png" width="150" height="150" class="user-image1">
                    </a>
                    <div class="name0">
                    <h2 class="name1">用户名</h2>
                    </div>
                </div>
                <div class="item1">
                    <a href="">
                        <img src="~/css/4.png" width="150" height="150" class="user-image1"> 
                    </a>
                    <div class="name0">
                    <h2 class="name1">用户名</h2>
                    </div>
                </div>
                <div class="item1">
                    <a href="">
                        <img src="~/css/4.png" width="150" height="150" class="user-image1">
                    </a>
                    <div class="name0">
                    <h2 class="name1">用户名</h2>
                    </div>
                </div>
            </div>
        </div>
        </div>

    </div>

</div>
<script>

        var lis = document.querySelector('.movie-nav-list').querySelectorAll('li');
        console.log(lis)
        var items = document.querySelectorAll('.movie-item');
        console.log(items)
        for (var i = 0; i < lis.length; i++) {
        lis[i].setAttribute('index', i);
        lis[i].onclick = function() {
            for (var i = 0; i < lis.length; i++) {
                lis[i].className = '';
            }
            this.className = 'current';

            //以下是显示内容模块
            var index = this.getAttribute('index');
            console.log(index);
            //排他,显示索引值相同的li
            for (var i = 0; i < items.length; i++) {
                items[i].style.display = 'none';
            }
            items[index].style.display = 'block';
        }

    }

    function  showTable(){
       document.getElementById("aaa").innerHTML="取消关注";
    }

 



</script>
