<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>movieDB</title>
    <link rel="stylesheet" href="~/css/homePage.css">
  </head>
  <body>
    <link href='https://fonts.googleapis.com/css?family=Exo:400,900' rel='stylesheet' type='text/css'>
    <div class="wrapper">
      <div class="message">
      <h1>MovieDB，您的私人电影数据库</h1>    
      <h1>赶快<a href="/User/Create">注册</a>开始您的旅程吧！</h1>
      </div>
    </div>
  </body>
</html>